.App{
  background-color: #282c34;
  color: #fff;
  height: 100%;
}
.app-container {
  width: 90%;
  margin: auto;
  padding-top: 1rem;
}
.header{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.header h3{
  font-size: 2.5rem;
}

.light-icon{
  color:#ffee00;
}
.light-out{
  color: #a8000e;
}
.loading {
  background-color: greenyellow;
  height: 100vh;
}

.search{
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 0.6rem;
  font-weight: bold;
}
.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #282c34;
  border-radius: 10px;
  color: #dfdfdf;
  box-shadow: 0 0.2rem 0.7rem 0 #cec7c7;
  margin-bottom: 1.2rem;
}

.heading p {
  padding-top: 10px;
}

a{
  text-decoration: none  !important;
  color: red !important;
}
.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1rem;
  /* font-weight: bold; */
  background-color: #282c34;
  border-radius: 10px;
  color: #dfdfdf;
  box-shadow: 0 0.2rem 0.7rem 0 #f70000;
  margin-bottom: 1.3rem;
  cursor: pointer;

}

.red {
  color: #fc0000;
}
.green{
  color: #00ff00;
}