.App{
  background-color: #282c34;
  color: #fff;
  height: 100%;
}
.app-container {
  width: 90%;
  margin: auto;
  padding-top: 1rem;
}
.header{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.header h3{
  font-size: 2.5rem;
}

.light-icon{
  color:#ffee00;
}
.light-out{
  color: #a8000e;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  height: 100vh;

}

.loader {
  display: flex;
  align-items: center;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #00143d;
  border-bottom: 16px solid red;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}







.search{
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 0.6rem;
  font-weight: bold;
}
.coin-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #282c34;
  border-radius: 10px;
  color: #dfdfdf;
  box-shadow: 0 0.2rem 0.7rem 0 #ff1717;
  margin-bottom: 1.2rem;
}

.coin-heading p {
  padding: 10px 10px 0 10px;
}

a{
  text-decoration: none  !important;
  color: red !important;
}
.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  /* font-weight: bold; */
  background-color: #282c34;
  border-radius: 10px;
  color: #dfdfdf;
  box-shadow: 0 0.2rem 0.7rem 0 #f70000;
  margin-bottom: 1.3rem;
  cursor: pointer;
}

.symbol-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.coin-row p{
  padding-top: 10px;
}
.red {
  color: #fc0000;
}
.green{
  color: #00ff00;
}

.coin-row:hover {
  transform: scale(1.08);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width:770px) {
  .coin-heading{
    font-size: 1rem;
  }
  .header h3{
    font-size: 2rem;
  }
.hide-mobile{
 display: none; 
}
}