.App{
  background-color: #282c34;
  color: #fff;
  height: 100vh;
}
.app-container {
  width: 90%;
  margin: auto;
  padding-top: 1rem;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* font-size: 1.6rem; */
}
.light-icon{
  color:#ffee00;
}
.light-out{
  color: #a8000e;
}